<h1>Posts</h1>

<%= link_to "New Post", new_post_path, class: "btn btn-primary" %>

<h3>Here are all the Posts!</h3>

<ul>
  <% @posts.each do |post| %>
    <li><%= link_to "#{post.title}", posts_path(post) %></li>
  <% end %>
</ul>
